.errorText {
  color: var(--color-error);
  font-size: 0.875rem; // 14px
  padding: 0.3rem 0 0 0.2rem;
}

.inputContainer {
  .labelName {
    color: var(--foreground);
    margin-bottom: 0.5rem;
    font-size: 1rem; // 16px
    font-weight: 600;
    display: inline-block;
  }
}